on:
  workflow_dispatch:
    inputs:
      superplane_execution_id:
        description: 'Superplane Execution ID'
        required: true
        type: string
      superplane_canvas_id:
        description: 'Superplane Canvas ID'
        required: true
        type: string
      hello:
        description: "just testing"
        required: true
        type: string
name: Task
run-name: "Task - ${{ inputs.superplane_execution_id }}"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo hello
          sleep 60
